<section class="n-newsletter-promo" data-trackable="end-of-article-newsletter-promo" data-component="end-of-article-newsletter-promo">
	<div class="n-newsletter-promo__left">
		<div class="n-newsletter-promo__content">
			<h2 class="n-newsletter-promo__title">We’ll send you the&nbsp;news</h2>
			<div class="n-newsletter-promo__blurb">
				<p>Explore our curated emails with crucial updates on global trade, M&A, tech and more.</p>
			</div>
			<div class="n-newsletter-promo__cta">
					<a class="o-buttons o-buttons--big o-buttons--inverse"  data-trackable="link" href="https://www.ft.com/newsletters" style="width: 100%">View our newsletters</a>
			</div>
		</div>
	</div>
	<div class="n-newsletter-promo__right">
		<div class="n-newsletter-promo__media"></div>
	</div>
</section>